# 创建一个ani-updater的桥接网络
networks:
  ani-updater:
    driver: bridge

services:
  postgresql:
    image: pgvector/pgvector:pg17
    container_name: postgresql
    restart: always
    ports:
      - '5432:5432'
    environment:
      # 数据库基本信息
      TZ: Asia/Shanghai
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: newsletter
      # 指定数据目录（可选，容器默认也是 /var/lib/postgresql/data）
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      # 数据持久化
      - ../postgresql/data/:/var/lib/postgresql/data/
      # 日志持久化（容器内写入 /var/log/postgresql/postgresql.log）
      - ../postgresql/logs/:/var/log/postgresql/
      # 初始化脚本目录：第一次初始化时，所有 .sql/.sh 会按字母顺序执行
      - ../migrations:/docker-entrypoint-initdb.d/:ro  # ro表示只读
      # 自定义主配置文件
      - ./postgresql/conf/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      # 自定义访问控制文件
      - ./postgresql/conf/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    # 使用自定义配置文件启动 Postgres
    command: [
      "postgres",
      "-c", "config_file=/etc/postgresql/postgresql.conf"
    ]
    networks:
      - ani-updater

#  redis:
#    image: redis:7.2.3
#    restart: always
#    container_name: redis7.2.3
#    ports:
#      - '6379:6379'
#    environment:
#      TZ: Asia/Shanghai
#    volumes:
#      - ./redis/conf/redis.conf:/usr/local/redis/config/redis.conf
#      - ./redis/data/:/data/
#      - ./redis/logs/:/logs/
#    command: redis-server /usr/local/redis/config/redis.conf --appendonly yes --requirepass 123456
#    networks:
#      - ani-updater  # 加入 ani-updater 网络
  web_services:
    build:
      context: ../          # Dockerfile 相对于 docker-compose.yml 的路径
      dockerfile: Dockerfile
    container_name: web_services
    restart: always
    depends_on:
      - postgresql
    ports:
      - '8000:8000'
    environment:
      TZ: Asia/Shanghai
      APP_ENV: production   # 设置应用环境为生产环境,如果本地改成local
      DATABASE_URL: postgres://postgres:password@postgresql:5432/newsletter # 配置自己的数据库连接url
      JWT_SECRET: JWT_SECRET@123 # 配置自己的jwt密钥
      GITHUB_CLIENT_ID: xxxx # 配置自己的GitHub 第三方认证的 CLIENT_ID
      GITHUB_CLIENT_SECRET: xxxx # 配置自己的GitHub 第三方认证的 CLIENT_SECRET
      FRONTEND_URL: http://localhost:3039  # 登录成功后跳转的前端应用的URL
      FRONTEND_DOMAINS: localhost:3039;example.com # 允许跨域访问后端资源的前端域名白名单列表,分号分隔
    volumes:
      - ../configuration:/app/configuration:ro  # 配置文件挂载，可按需调整
    networks:
      - ani-updater

